<% extend('layout') %>
<div class="contentpanel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Form Submission</h3>
        </div>
        <div class="panel-body">
            <form action="/submission/approve" method="post" class="form-horizontal">
                <div class="form-group">
                        <label class="col-sm-3 control-label">Kode Booking</label>
                        <div class="col-sm-6">
                            <input value='<%= (typeof data == 'object' && data) ? data.kode_booking : kode_booking  %>' readonly name="kode_booking" type="text" placeholder="Default Input" class="form-control" />
                        </div>
                    </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Kode Aset</label>
                    <div class="col-sm-6">
                        <input value='<%= (typeof data == 'object' && data) ? data.kode_aset : data_aset.KODE_ASET %>' readonly name="kode_aset" type="text" placeholder="Default Input" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Jenis Aset</label>
                    <div class="col-sm-6">
                        <input value='<%= (typeof data == 'object' && data) ? data.jenis_aset : data_aset.JENIS_ASET %>' name="jenis_aset" readonly type="text" placeholder="Default Input" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Alamat</label>
                    <div class="col-sm-6">
                        <input value='<%= (typeof data == 'object' && data) ? data.alamat_aset : data_aset.ALAMAT_ASET %>' name="alamat_aset" readonly type="text" placeholder="Default Input" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Luas (m2)</label>
                    <div class="col-sm-6">
                        <input value='<%= (typeof data == 'object' && data) ? data.luas_aset : data_aset.LUAS_ASET %>' name="luas_aset" readonly type="text" placeholder="Default Input" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Status Booking</label>
                    <div class="col-sm-6">
                        <input value="<%= (typeof data == 'object' && data) ? data.status_booking : 'CREATED' %>" name="status" type="text" placeholder="Default Input" class="form-control" readonly/>
                    </div>
                </div>
                <%
                    if(typeof data == 'object' && data){
                %>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tanggal Pengajuan Booking</label>
                    <div class="col-sm-6">
                        <input value="<%= (typeof data == 'object' && data) ? data.createdAt : '' %>" name="booking_date" type="text" placeholder="Default Input" class="form-control datepicker" disabled/>
                    </div>
                </div>
                <%}%>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tanggal Mulai</label>
                    <div class="col-sm-6">
                        <input value="<%= (typeof data == 'object' && data) ? data.start_date : '' %>" name="start_date" type="text" placeholder="Default Input" class="form-control datepicker" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tanggal Selesai</label>
                    <div class="col-sm-6">
                        <input value="<%= (typeof data == 'object' && data) ? data.end_date : '' %>" name="end_date" type="text" placeholder="Default Input" class="form-control datepicker" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Keperluan</label>
                    <div class="col-sm-6">
                        <input value="<%= (typeof data == 'object' && data) ? data.description : '' %>" name="description" type="text" placeholder="Default Input" class="form-control" readonly/>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-4">
                        <input type="hidden" name="id" value="<%= (typeof data == 'object' && data)? data.id : '' %>">
                        <button name="approval" value="1" class="btn btn-success"><i class="fa fa-check"></i> Approve</button>
                        <button name="approval" value="0" class="btn btn-danger"><i class="fa fa-times"></i> Reject</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>