<% extend('layout') %>

<div class="pageheader" xmlns="http://www.w3.org/1999/html">
    <h2><i class="fa fa-home"></i> Data Aset <span>Data - data aset property</span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Data Aset</li>
        </ol>
    </div>
</div>
<div class="contentpanel">
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="/asset/filter" method="post" class="form-horizontal">
                <div class="row">
                    <div class="col-lg-4">
                        <select name="bumn" id="bumn" class="form-control"/>
                        <option value="all">--Semua Perusahaan--</option>
                        <% if(data_bumn.length){
                        for(var i = 0;i < data_bumn.length;i++){ 
							if(data_bumn[i].KODE_BUMN == 199){%>
                        <option value="<%= data_bumn[i].ID_BUMN %>"><%= data_bumn[i].NAMA_BUMN %></option>
							<% } 
						  }
                        } %>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <select name="jenis" id="jenis" class="form-control"/>
                        <option value="all">--Semua Jenis--</option>
                        <% if(data_jenis.length){
                        for(var i = 0;i < data_jenis.length;i++){ %>
                        <option value="<%= data_jenis[i].ID_JENIS_ASET %>"><%= data_jenis[i].DESKRIPSI_JENIS_ASET %></option>
                        <% }
                        } %>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select name="provinsi" id="provinsi" class="form-control"/>
                        <option value="all">--Semua Provinsi--</option>
                        <% if(data_jenis.length){
                        for(var i = 0;i < data_provinsi.length;i++){ %>
                        <option value="<%= data_provinsi[i].ID_PROVINCE %>"><%= data_provinsi[i].NAMA_PROVINCE %></option>
                        <% }
                        } %>
                        </select>
                    </div>
                    <button class="btn btn-success" type="submit"><i class="fa fa-refresh"></i> Ambil Data Aset
                    </button>
                </div>
            </form>
            <br>
            <hr>
            <div class="table-responsive">
                <table class="table" id="table1">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Kode Aset</th>
                        <th>Nama BUMN</th>
                        <th>Nama Aset</th>
                        <th>Jenis</th>
                        <th>Kepemilikan</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if(data_aset != null && data_aset.length){
                    for(var i = 0;i < data_aset.length;i++){ %>
                    <tr>
                        <td><%= i + 1 ;%></td>
                        <td><%= data_aset[i].KODE_ASET; %></td>
                        <td><%= data_aset[i].NAMA_BUMN ; %></td>
                        <td><%= data_aset[i].NAMA_ASET; %></td>
                        <td><%= data_aset[i].JENIS_ASET; %></td>
                        <td><%= data_aset[i].JENIS_KEPEMILIKAN; %></td>
                        <td>
                            <button class="btn btn-success btn-xs" onclick="callForm('<%= JSON.stringify(data_aset[i]) %>')"><i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                    <% }
                    } %>
                    </tbody>
                </table>
            </div><!-- table-responsive -->
        </div><!-- contentpanel -->
    </div>

    <form action="/form" method="post" class="form-horizontal" style="visibility: hidden">
        <input type="hidden" name="aset" id="aset"/>
        <button type="submit" id="book_aset"></button>
    </form>
</div>
<script>
    function callForm(data){
        $("#aset").val(data);
        $("#book_aset").click();
    }
</script>