<% extend('layout') %>
<div class="contentpanel">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Form User</h3>
        </div>
        <div class="panel-body">
            <form <% if(typeof data == 'object' && data){ %>action="/user/update" <% }else{ %>action="/user/add" <% } %>  method="post" class="form-horizontal">
                <div class="form-group">
                        <label class="col-sm-3 control-label">NIP</label>
                        <div class="col-sm-6">
                            <input value='<%= (typeof data == 'object' && data) ? data.nip : ''  %>'   name="nip" type="text" placeholder="Default Input" class="form-control" />
                        </div>
                    </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Nama</label>
                    <div class="col-sm-6">
                        <input value='<%= (typeof data == 'object' && data) ? data.name : '' %>'   name="nama" type="text" placeholder="Default Input" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Jenjang</label>
                    <div class="col-sm-6">
                        <input value='<%= (typeof data == 'object' && data) ? data.jenjang : '' %>'   name="jenjang" type="text" placeholder="Default Input" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Business Unit</label>
                    <div class="col-sm-6">
                        <input value='<%= (typeof data == 'object' && data) ? data.business_unit : '' %>' name="business_unit"   type="text" placeholder="Default Input" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Sub Business Unit</label>
                    <div class="col-sm-6">
                        <input value='<%= (typeof data == 'object' && data) ? data.sub_business_unit : '' %>' name="sub_business_unit"   type="text" placeholder="Default Input" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Mobile Phone</label>
                    <div class="col-sm-6">
                        <input value="<%= (typeof data == 'object' && data) ? data.mobile_phone : '' %>" name="mobile_phone" type="text" placeholder="Default Input" class="form-control"  />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-6">
                        <input value="<%= (typeof data == 'object' && data) ? data.email : '' %>" name="email" type="email" placeholder="Default Input" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-6">
                        <input id="psswd" <%= (typeof data == 'object' && data) ? '' : 'required' %> name="password" type="password" placeholder="Default Input" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Confirm Password</label>
                    <div class="col-sm-6">
                        <input id="cnfrm-psswd" type="password" placeholder="Default Input" class="form-control" />
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-4">
                        <input type="hidden" name="id" value="<%= (typeof data == 'object' && data)? data.id : '' %>">
                        <button type="button" onclick="return window.history.back()" class="btn btn-danger"><i class="fa fa-times"></i> Batal</button>
                        <%
                            if(typeof data == 'object' && data){
                        %>
                        <button onclick="return check()" type="submit" class="btn btn-warning"><i class="fa fa-save"></i> Update</button>
                        <%} else{%>
                        <button  onclick="return check()" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Submit</button>
                        <%
                            }
                        %>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function check() {
        var pswd = document.getElementById('psswd');
        var confirm = document.getElementById('cnfrm-psswd');
        console.log(pswd.value);
        console.log(confirm.value);
        console.log(confirm.value != pswd.value);
        if (pswd.value != "" && confirm.value != pswd.value) {
            confirm.setCustomValidity('Password Must be Matching.');
        } else {
            confirm.setCustomValidity('');
            return true;
        }
    }
</script>