<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/images/favicon.png" type="/image/png">
  
  <title>Peminjaman Asset Property</title>
  
  <link href="/stylesheets/style.default.css" rel="stylesheet">
  <link href="/stylesheets/jquery.datatables.css" rel="stylesheet">
  
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    
    <section>
      
      <div class="leftpanel">
        
        <div class="logopanel">
          <h1><span>[</span> bracket <span>]</span></h1>
        </div><!-- logopanel -->
        
        <div class="leftpanelinner">    
          
          <!-- This is only visible to small devices -->
          <div class="visible-xs hidden-sm hidden-md hidden-lg">   
            <div class="media userlogged">
              <img alt="" src="images/photos/loggeduser.png" class="media-object">
              <div class="media-body">
                <h4><John Doe></h4>
                <span>"Life is so..."</span>
              </div>
            </div>
            
            <h5 class="sidebartitle actitle">Account</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
              <li><a href="profile.html"><i class="fa fa-user"></i> <span>Profile</span></a></li>
              <li><a href=""><i class="fa fa-cog"></i> <span>Account Settings</span></a></li>
              <li><a href=""><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
              <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
            </ul>
          </div>
          
          <h5 class="sidebartitle">Navigation</h5>
          <ul class="nav nav-pills nav-stacked nav-bracket">
            <li><a href="pengajuan"><i class="fa fa-edit"></i> <span>Pengajuan</span></a></li>
            <li><a href="asset"><i class="fa fa-th-list"></i> <span>Daftar Asset</span></a></li>
            <%if (!isGuest){%>
            <li><a href="user"><i class="fa fa-th-list"></i> <span>Manajemen User</span></a></li>
            <% } %>


            <!-- <li class="nav-parent"><a href=""><i class="fa fa-edit"></i> <span>Forms</span></a>
              <ul class="children">
                <li><a href="general-forms.html"><i class="fa fa-caret-right"></i> General Forms</a></li>
                <li><a href="form-layouts.html"><i class="fa fa-caret-right"></i> Form Layouts</a></li>
                <li><a href="form-validation.html"><i class="fa fa-caret-right"></i> Form Validation</a></li>
                <li><a href="form-wizards.html"><i class="fa fa-caret-right"></i> Form Wizards</a></li>
                <li><a href="wysiwyg.html"><i class="fa fa-caret-right"></i> Text Editor</a></li>
                <li><a href="code-editor.html"><i class="fa fa-caret-right"></i> Code Editor</a></li>
                <li><a href="x-editable.html"><i class="fa fa-caret-right"></i> X-Editable</a></li>
              </ul>
            </li>
            <li class="nav-parent"><a href=""><i class="fa fa-suitcase"></i> <span>UI Elements</span></a>
              <ul class="children">
                <li><a href="buttons.html"><i class="fa fa-caret-right"></i> Buttons</a></li>
                <li><a href="icons.html"><span class="pull-right badge badge-danger">updated</span><i class="fa fa-caret-right"></i> Icons</a></li>
                <li><a href="typography.html"><i class="fa fa-caret-right"></i> Typography</a></li>
                <li><a href="alerts.html"><i class="fa fa-caret-right"></i> Alerts &amp; Notifications</a></li>
                <li><a href="modals.html"><i class="fa fa-caret-right"></i> Modals</a></li>
                <li><a href="tabs-accordions.html"><i class="fa fa-caret-right"></i> Tabs &amp; Accordions</a></li>
                <li><a href="sliders.html"><i class="fa fa-caret-right"></i> Sliders</a></li>
                <li><a href="graphs.html"><i class="fa fa-caret-right"></i> Graphs &amp; Charts</a></li>
                <li><a href="widgets.html"><i class="fa fa-caret-right"></i> Panels &amp; Widgets</a></li>
                <li><a href="extras.html"><i class="fa fa-caret-right"></i> Extras</a></li>
              </ul>
            </li>
            <li><a href="tables.html"><i class="fa fa-th-list"></i> <span>Tables</span></a></li>
            <li class="nav-parent"><a href=""><i class="fa fa-bug"></i> <span>Bug Tracker</span></a>
              <ul class="children">
                <li><a href="bug-tracker.html"><i class="fa fa-caret-right"></i> Summary</a></li>
                <li><a href="bug-issues.html"><i class="fa fa-caret-right"></i> Issues</a></li>
                <li><a href="view-issue.html"><i class="fa fa-caret-right"></i> View Issue</a></li>
              </ul>
            </li>
            <li><a href="maps.html"><i class="fa fa-map-marker"></i> <span>Maps</span></a></li>
            <li class="nav-parent"><a href=""><i class="fa fa-file-text"></i> <span>Pages</span></a>
              <ul class="children">
                <li><a href="calendar.html"><i class="fa fa-caret-right"></i> Calendar</a></li>
                <li><a href="media-manager.html"><i class="fa fa-caret-right"></i> Media Manager</a></li>
                <li><a href="timeline.html"><i class="fa fa-caret-right"></i> Timeline</a></li>
                <li><a href="blog-list.html"><i class="fa fa-caret-right"></i> Blog List</a></li>
                <li><a href="blog-single.html"><i class="fa fa-caret-right"></i> Blog Single</a></li>
                <li><a href="people-directory.html"><i class="fa fa-caret-right"></i> People Directory</a></li>
                <li><a href="profile.html"><i class="fa fa-caret-right"></i> Profile</a></li>
                <li><a href="invoice.html"><i class="fa fa-caret-right"></i> Invoice</a></li>
                <li><a href="search-results.html"><i class="fa fa-caret-right"></i> Search Results</a></li>
                <li><a href="blank.html"><i class="fa fa-caret-right"></i> Blank Page</a></li>
                <li><a href="notfound.html"><i class="fa fa-caret-right"></i> 404 Page</a></li>
                <li><a href="locked.html"><i class="fa fa-caret-right"></i> Locked Screen</a></li>
                <li><a href="signin.html"><i class="fa fa-caret-right"></i> Sign In</a></li>
                <li><a href="signup.html"><i class="fa fa-caret-right"></i> Sign Up</a></li>
              </ul>
            </li>
            <li class="nav-parent"><a href="layouts.html"><i class="fa fa-laptop"></i> <span>Skins &amp; Layouts</span></a>
              <ul class="children">
                <li><a href="layouts.html"><i class="fa fa-caret-right"></i> General Layouts</a></li>
                <li><a href="horizontal-menu.html"><i class="fa fa-caret-right"></i> Top Menu</a></li>
                <li><a href="horizontal-menu2.html"><i class="fa fa-caret-right"></i> Top Menu w/ Sidebar</a></li>
                <li><a href="fixed-width.html"><i class="fa fa-caret-right"></i> Fixed Width Page</a></li>
                <li><a href="fixed-width2.html"><i class="fa fa-caret-right"></i> Fixed Width w/ Menu</a></li>
              </ul>
            </li> -->
          </ul>
          
        </div><!-- leftpanelinner -->
      </div><!-- leftpanel -->
      
      <div class="mainpanel">
        
        <div class="headerbar">
          
          <a class="menutoggle"><i class="fa fa-bars"></i></a>
          
          <form class="searchform" action="index.html" method="post">
            <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
          </form>
          
          <div class="header-right">
            <ul class="headermenu">
              <li>
                <div class="btn-group">
                  <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i>
                    <span class="badge"></span>
                  </button>
                  <!-- content here -->
                </div>
              </li>
              <li>
                <div class="btn-group">
                  <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <span class="badge"></span>
                  </button>
                  <!-- content here -->
                </div>
              </li>
              <li>
                <div class="btn-group">
                  <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-globe"></i>
                    <span class="badge"></span>
                  </button>
                  <!-- content here -->
                </div>
              </li>
              <li>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <img src="images/photos/loggeduser.png" alt="" />
                    <%= (typeof user != 'undefined') ? user.email : '' %>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                    <!-- <li><a href="profile.html"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li> -->
                    <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div><!-- header-right -->
          
        </div><!-- headerbar -->


        <% if (typeof success != 'undefined' && success != '') { %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Berhasil !</strong> <%= success %>
        </div>
        <% } %>
        <%- content %>
        
      </div><!-- mainpanel -->
      
    </section>
    
    
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="/javascripts/jquery-ui-1.10.3.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/modernizr.min.js"></script>
    <script src="/javascripts/jquery.sparkline.min.js"></script>
    <script src="/javascripts/toggles.min.js"></script>
    <script src="/javascripts/retina.min.js"></script>
    <script src="/javascripts/jquery.cookies.js"></script>
    
    <script src="/javascripts/flot/jquery.flot.min.js"></script>
    <script src="/javascripts/flot/jquery.flot.resize.min.js"></script>
    <script src="/javascripts/flot/jquery.flot.spline.min.js"></script>
    <script src="/javascripts/morris.min.js"></script>
    <script src="/javascripts/raphael-2.1.0.min.js"></script>
    
    <script src="/javascripts/jquery.datatables.min.js"></script>

    <script src="/javascripts/custom.js"></script>
    <!-- <script src="/javascripts/dashboard.js"></script> -->
    
    <script>
      jQuery(document).ready(function() {
        
        jQuery('#table1').dataTable();
        
        jQuery('.datepicker').datepicker();

      });
    </script>

  </body>
  </html>
  