<% extend('layout') %>
<div class="pageheader">
    <h2><i class="fa fa-home"></i> Pengajuan <span>List Pengajuan Peminjaman Asset Property</span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here: </span>
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Data Aset</li>
        </ol>
    </div>
</div>
<div class="contentpanel">
    <div class="panel panel-default">
        <div class="panel-body">
            <button class="btn btn-success" onclick="window.location='/asset'"><i class="fa fa-plus"></i> Permohonan Baru</button>
            <br>
            <hr>
            <div class="table-responsive">
                <table class="table" id="table1">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Kode Booking</th>
                            <th>Kode Aset</th>
                            <th>Tanggal Pinjam</th>
                            <th>Tanggal Selesai</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data.length){
                            for(var i = 0;i < data.length;i++){%>
                                <tr>
                                    <td><%=(i+1)%></td>
                                    <td><%= data[i].kode_booking %></td>
                                    <td><%= data[i].kode_aset %></td>
                                    <td><%= data[i].start_date %></td>
                                    <td><%= data[i].end_date %></td>
                                    <td><%= data[i].status_booking %></td>
                                    <td>
                                        <% if(data[i].status_booking == 'CREATED'){ %>
                                            <%if (!isGuest){%>
                                            <a class="btn btn-xs btn-info" href="/submission/approval/<%= data[i].id %>">
                                                <i class="fa fa-check"></i>
                                            </a>
                                            <%}%>
                                            <a class="btn btn-xs btn-warning" href="/submission/detail/<%= data[i].id %>">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <%}%>
                                            <a class="btn btn-xs btn-danger" href="/submission/delete/<%= data[i].id %>"
                                                onclick="return confirm('Anda yakin menghapus permohonan ini?');">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <%}
                                } else{ %>
                                    <tr>
                                        <td colspan="5">No Data</td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div><!-- table-responsive -->
                    </div><!-- contentpanel -->
                </div>
            </div>