<% extend('layout') %>

<div class="pageheader">
    <h2><i class="fa fa-user"></i> User <span>List Pengguna Peminjaman Asset Property</span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here: </span>
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Manajemen User</li>
        </ol>
    </div>
</div>
<div class="contentpanel">
    <div class="panel panel-default">
        <div class="panel-body">   
            <button class="btn btn-success" onclick="window.location='/form/user'"><i class="fa fa-plus"></i> User Baru</button>
            <br>
            <hr>
            <div class="table-responsive">
                <table class="table" id="table1">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nip</th>
                            <th>Nama</th>
                            <th>Jenjang</th>
                            <th>Business Unit</th>
                            <th>Sub Business Unit</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data.length){
                            for(var i = 0;i < data.length;i++){%>
                                <tr>
                                    <td><%=(i+1)%></td>
                                    <td><%= data[i].nip %></td>
                                    <td><%= data[i].name %></td>
                                    <td><%= data[i].jenjang %></td>
                                    <td><%= data[i].business_unit %></td>
                                    <td><%= data[i].sub_business_unit %></td>
                                    <td>
                                            <a class="btn btn-xs btn-warning" href="/user/detail/<%= data[i].id %>">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="btn btn-xs btn-danger" href="/user/delete/<%= data[i].id %>"
                                                onclick="return confirm('Anda yakin menghapus permohonan ini?');">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <%}
                                } else{ %>
                                    <tr>
                                        <td colspan="5">No Data</td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div><!-- table-responsive -->
                    </div><!-- contentpanel -->
                </div>
            </div>